html {
/* sticky footer following https://codepen.io/chriscoyier/pen/YWKNrE   */
    height: 100%; /*used for grid version of sticky footer*/
    min-width: 1130px; /*approx the same actual page*/
}
body {
    /*first three from codepen for sf*/
    min-height: 100%; 
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0 auto;
}

.content {
  padding: 20px;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

* {
  box-sizing: border-box;
}
body {
/*  margin: 0;*/
  font: 16px Sans-Serif;
}
h1 {
  margin: 0 0 20px 0;
}
p {
  margin: 0 0 20px 0;
}
.footer {
  background: #42A5F5;
  color: white;
  padding: 20px;
}