html {
/* sticky footer following https://codepen.io/chriscoyier/pen/YWKNrE   */
    height: 100%; /*used for grid version of sticky footer*/
    min-width: 1130px; /*approx the same actual page*/
}
body {
    /*first three from codepen for sf*/
    min-height: 100%; 
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0 auto;
}

.content {
  padding: 20px;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

* {
  box-sizing: border-box;
}
body {
/*  margin: 0;*/
  font: 16px Sans-Serif;
}
h1 {
  margin: 0 0 20px 0;
}
p {
  margin: 0 0 20px 0;
}
.footer {
  background: #42A5F5;
  color: white;
  padding: 20px;
}



/*nav bars at top and bottom */
nav {
	margin: 15px 15px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
	display: inline;
	margin: 0 10px;
}
nav ul li a {
	font-size: 13px;
	font-family: Arial;
	color: #525151; /*a darkish grey*/
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
}
.left-side {
	float: left;
}
.right-side {
	float: right;
}
/*
.user-letter {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-top: -10px;
}
*/
.sign-in {
    height: 40px;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    background: #4285f4; /* lighter blue color from google site */
    padding: 7px 11px;
}

main {
/*    clear: both;*/
/*    padding-top: 40px;*/
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.googlelogo {
	width: 250px;
	margin: 120px auto 20px auto;
}

.search-bar-border {
	height: 45px;
	width: 500px;
	border: lightgrey 1px solid;
	border-radius: 40px;
	margin-bottom: 30px;
	box-shadow: none;
}
.search-bar-border:hover {
	box-shadow: 1px 1px 7px 1px lightgrey;
}
.search-term {
	float: left;
	height: 35px;
	width: 425px;
	margin: 4px 10px 4px 15px;
	font-size: 100%;
	border: none;
}

.search-term:focus {
	outline: none;
}

.voice-icon {
	height: 25px;
	width: 25px;
	margin: 10px 0;
}

.submit-buttons-section {
	clear: both;
	margin-top: 25px;
}
.submit-buttons {
	background: #ebeaea; /* a very light grey */
	border-radius: 3px;
	border: none;
	padding: 10px 15px;
	font-size: 13px;
	color: #535252; /* a very dark grey */
	margin: 0 4px;
}
.submit-buttons:hover {
	border: solid 1px grey;
}